* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}
body {
    color: #DADADA;
    background: linear-gradient(90deg, #1c1c1cee 20%, #1c1c1c 100%);
    font-family: "Bitter", Arial;
    letter-spacing: 1px;
    height: 100%;
    font-size: 16px;
}

header {
    background: transparent;
    backdrop-filter: blur(8px);
    text-shadow: 2px 1px 5px #1c1c1c;
    position: fixed;
    margin: 0px auto 0px auto;
    padding-bottom: 5px;
    width: 100%;
    z-index: 2;
}

nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.nav-button{
    text-transform: uppercase;
    display: inline-block;
    padding: 5px;
    margin: 0px 20px;
}

.nav-button:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}

.arrow {
    max-width: 14px;
    margin-right: 2px;
}

li a {
    color: #DADADA;
}


/* HOME */

#home {
    height: 95vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: "Manufacturing Consent", system-ui;
    font-weight: 400;
    font-size: clamp(1em, 2vw + 5em, 15em);
    margin: 0.2em auto;
    letter-spacing: 25px;
}

#img-container {
    position: relative;
}

#img-container img {
    width: 100%;
    max-width: 60em;
    height: auto;
    display: block;
    margin: 0 auto;
}

#img-container p {
    text-align: left;
    font-weight: 400;
    padding: 20px 0;
    color: #DADADA;
    text-shadow: 2px 1px 5px #1c1c1c;
    text-transform: uppercase;
    font-size: clamp(0.8em, 1.5vw, 1.2em);
    top:20%;
    left: 22%;
    position: absolute;
    z-index: 2;
}

#img-container button {
    background-color: #dadada45;
    position: absolute;
    top: 70%;
    left: 22%;
    text-transform: uppercase;
    color: #d4d4d4;
    padding: 10px 20px;
    border-radius: 10px;
}

#img-container button:hover {
    background-color: #DADADA;
    color: #1c1c1c;
    transition: 0.1s ease;
    cursor: pointer;
}

#icons-container {
    width: 7em;
    margin: auto auto 20px auto;
    display: flex;
    justify-content: space-around;
}

#icons-container img {
    width: 25px;
}


/* ABOUT */

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #DADADA;
    color: #1c1c1c;
    height: 90vh;
}

#about h2 {
    padding-bottom: 40px;
    font-size: 2em;
}

#about p {
    font-size: 1.2em;
    width: 100%;
    max-width: 600px;
    text-align: justify;
}


/* EDUCATION */

#education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
    color: rgb(247, 247, 247);
    height: 90vh;
}

#fontCloister {
    font-family: "Manufacturing Consent", system-ui;
    font-weight: 400;
    font-size: 1.2em;
}

#education h2 {
    font-size: 2em;
}

#education h3 {
    margin-top: 10vh;
}

#education p {
    margin: 10px 0px;
}


/* PROJECTS */

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#projects h2 {
    font-size: 2em;
    margin-bottom: 10vh;
}

#content-projects {
    width: 60vw;
    text-align: left;
}

#content-projects h3 {
    text-align: left;
}

#content-projects p {
    text-align: left;
}

.icons-projects {
    width: 25px;
    padding: 5px 0px 10px 0px;
}



/* CONTACT */

#contacts {
    background-color: #1c1c1c;
    padding-top: 30px;
    text-align: center;
    height: 80vh;
    display: flex;
}

#contacts h2 {
    font-size: 2em;
}

#form-contact {
    color: #1c1c1c;
    background: #DADADA;
    border-radius: 20px;
    box-shadow: 3px 3px 10px black;
    height: 55vh;
    width: 100%;
    max-width: 45vw;
    margin: auto;
    padding: 30px 20px;
}

.item-contact {
    display: block;
    margin: 10px auto;
    padding: 5px;
}


/* FOOTER */

footer {
    background-color: black;
    color: rgb(247, 247, 247);
    height: 5vh;
    padding-top: 10px;
    font-size: 12px;
    display: flex;
}

footer p {
    margin: auto;
    width: 70vw;
    padding: 10px 0px;
    border-top: 0.2px solid rgb(33, 33, 33);
}